In [1]:
T=(1,2,2323,'ggwg',43.45)
T

(1, 2, 2323, 'ggwg', 43.45)

In [2]:
print(T[2:5])

(2323, 'ggwg', 43.45)

In [6]:
tuple=('pqrs',123,2.14,'python',98.6)
list1=['pqrs',123,2.14,'python',98.6]
#tuple[2]=1000
list1[2]=1000
list1

['pqrs', 123, 1000, 'python', 98.6]

In [13]:
dict1={'name':"rohit",'id':"1234",'dept':"technical"}
dict2={}
dict2['one']="this is python"
dict2[2]="this is java"
print(dict1)
print(dict2)
print(dict1.keys())
print(dict2.keys())
print(dict1.values())
print(dict2.values())

{'name': 'rohit', 'id': '1234', 'dept': 'technical'}
{'one': 'this is python', 2: 'this is java'}
dict_keys(['name', 'id', 'dept'])
dict_keys(['one', 2])
dict_values(['rohit', '1234', 'technical'])
dict_values(['this is python', 'this is java'])

In [16]:
count=0
while(count<9):
    print("the count is ",count)
    count=count+1
print("good bye")

the count is  0
the count is  1
the count is  2
the count is  3
the count is  4
the count is  5
the count is  6
the count is  7
the count is  8
good bye

In [17]:
count=0
while count<5:
    print(count,"is less than 5")
    count=count+1
else:
    print(count,"is grater than 5")

0 is less than 5
1 is less than 5
2 is less than 5
3 is less than 5
4 is less than 5
5 is grater than 5

In [19]:
for letter in "python":
    print("current letter",letter)
fruit=['banana','apple','mango']
for fruit in fruit:
    print("current fruit",fruit)
print("good bye!!!")

current letter p
current letter y
current letter t
current letter h
current letter o
current letter n
current fruit banana
current fruit apple
current fruit mango
good bye!!!

In [32]:
for num in range(10,20):
    for i in range(2,num):
        if num%i==0:
            j=num/i
            print('%d equals %d * %d' % (num,i,j))
        break
    else:
            print(num,'is a prime number')
            break

10 equals 2 * 5
12 equals 2 * 6
14 equals 2 * 7
16 equals 2 * 8
18 equals 2 * 9

In [28]:
for num in range(10,20):
    print(num)

10
11
12
13
14
15
16
17
18
19

In [41]:
str="university"
len(str)

10

In [42]:
list1=['parul','bharat',45.5,'vadodra',99,22]
list1.remove(22)
print(list1)

['parul', 'bharat', 45.5, 'vadodra', 99]

In [47]:
from math import pi
print(pi)
r=5
area_circle=pi*(r**2)
print(area_circle)

3.141592653589793
78.53981633974483

In [54]:
def add(x,y):
    return x+y
def substract(x,y):
    return x-y
def multiply(x,y):
    return x*y
def division(x,y):
    return(x,y)

print("select operation")
print("enter 1 for add")
print("enter 2 for substract")
print("enter 3 for multiply")
print("enter 4 for division")
num1=int(input("enter the first number"))
num2=int(input("enter second number"))
num=input("Please enter operation number give above")
if num=='1':
    print(num1,"+",num2,add(num1,num2))
elif num=='2':
    print(num1,"-",num2,substract(num1,num2))
elif num=='3':
    print(num1,"*",num2,multiply(num1,num2))
elif num=='4':
    print(num1,"/",num2,division(num1,num2))
else:
    print("not enter valid number for operation")

select operation
enter 1 for add
enter 2 for substract
enter 3 for multiply
enter 4 for division
enter the first number10
enter second number20
Please enter operation number give above3
10 * 20 200

In [53]:
pip install keras

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: keras in c:\users\milan\appdata\roaming\python\python39\site-packages (2.11.0)
Note: you may need to restart the kernel to use updated packages.