# Creating Series

In [3]:
import pandas as pd
arr=['p','q','r','s','t']
s1= pd.Series(arr)
s1

0    p
1    q
2    r
3    s
4    t
dtype: object

In [4]:
type(s1)

pandas.core.series.Series

In [6]:
s1[0],s1[2]

('p', 'r')

In [7]:
order=[1,5,3,3,4]
s2= pd.Series(arr,index=order)
s2

1    p
5    q
3    r
3    s
4    t
dtype: object

In [8]:
s2[3]

3    r
3    s
dtype: object

In [9]:

s3= pd.Series(['Pineapple','ruby','swan','queen','tiger'],index=['p','r','s','q','t'])
s3

p    Pineapple
r         ruby
s         swan
q        queen
t        tiger
dtype: object

In [16]:
s3[0:3]

p    Pineapple
r         ruby
s         swan
dtype: object

In [15]:
s3["p":"s"]

p    Pineapple
r         ruby
s         swan
dtype: object

In [ ]:
s3['r']

In [ ]:
s3['p']

In [17]:
s3.index

Index(['p', 'r', 's', 'q', 't'], dtype='object')

In [22]:
s3[s3=='ruby'].index[0]

'r'

In [23]:
d={'a':1,'b':2,'c':3,'d':4,'e':5}
s3=pd.Series(d)
s3

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [ ]:
s1

In [ ]:
s1[2:4]

In [ ]:
s3

In [ ]:
#Slicing
s3[2:4]

In [ ]:
s3['c':'e']

In [ ]:
s1

In [ ]:
s2

In [24]:
s4=s1.append(s2)
s4

0    p
1    q
2    r
3    s
4    t
1    p
5    q
3    r
3    s
4    t
dtype: object

In [25]:
import numpy as np
s4.index=np.arange(10)
s4

0    p
1    q
2    r
3    s
4    t
5    p
6    q
7    r
8    s
9    t
dtype: object

In [ ]:
import pandas as pd
s7=pd.Series(['a','b','c','d'])
s8=pd.Series(['e','f','g','h'])

In [ ]:
print(s7)

print(s8)

In [ ]:
s9=s7.append(s8)
s9

In [ ]:
s7[0],s8[0]

In [ ]:
s9[0],s9[1]

In [ ]:
import numpy as np
x=np.arange(8)
x

In [ ]:
s9.index=x
s9

In [31]:
arr1=[1,2,3,4,5,6]
s5=pd.Series(arr1)
arr2=[7,8,9,10]
s6=pd.Series(arr2)
s5+s6

0     8.0
1    10.0
2    12.0
3    14.0
4     NaN
5     NaN
dtype: float64

In [26]:
ser1=pd.Series([100,20,10,150,60],index=['India','Pakistan','Nepal','China','Germany'])
ser2=pd.Series([20,100,30,10,15],index=['India','Pakistan','Japan','China','Korea'])

In [27]:
ser1

India       100
Pakistan     20
Nepal        10
China       150
Germany      60
dtype: int64

In [28]:
ser2

India        20
Pakistan    100
Japan        30
China        10
Korea        15
dtype: int64

In [29]:
ser1+ser2

China       160.0
Germany       NaN
India       120.0
Japan         NaN
Korea         NaN
Nepal         NaN
Pakistan    120.0
dtype: float64

In [ ]:
ser1=pd.Series([100,20,10,150,60],index=[1,3,5,6,7])
ser2=pd.Series([20,100,30,10,15],index=[2,5,1,4,8])

In [ ]:
ser1+ser2

In [32]:
print("Median",s6.median())
print("Max",s6.max())
print("Std",s6.std())

Median 8.5
Max 10
Std 1.2909944487358056

# Create Data Frame

In [33]:
import numpy as np
arr=np.random.randn(6,4)
arr

array([[-1.16861606,  1.87212468, -0.25035535,  0.05732043],
       [-0.83668912,  0.24826143,  0.20247917,  0.00872789],
       [-1.59114421, -2.56774431, -0.79256261, -0.50020106],
       [-0.17221187, -1.02417203, -0.82561447, -1.52056272],
       [-0.00759031, -1.62308452, -0.30403651,  0.50357362],
       [ 0.10410006, -1.39817903, -1.8136405 ,  1.60218262]])

In [34]:
arr1=np.random.randint(24,size=(6,4))
arr1

array([[12,  6, 12,  1],
       [17, 14, 11, 17],
       [ 4, 20, 12, 23],
       [ 6,  2,  2,  4],
       [12, 12, 18,  3],
       [ 3, 19, 10, 12]])

In [35]:
row=["A","B","C","D","E","F"]
column=['1','2','3','4']
df=pd.DataFrame(arr1,index=row,columns=column)
df

    1   2   3   4
A  12   6  12   1
B  17  14  11  17
C   4  20  12  23
D   6   2   2   4
E  12  12  18   3
F   3  19  10  12

In [42]:
df.head(2)

    1   2   3   4
A  12   6  12   1
B  17  14  11  17

In [43]:
df.tail(2)

    1   2   3   4
E  12  12  18   3
F   3  19  10  12

In [45]:
df.describe(include='all')

              1          2          3          4
count   6.00000   6.000000   6.000000   6.000000
mean    9.00000  12.166667  10.833333  10.000000
std     5.51362   7.111024   5.154286   8.809086
min     3.00000   2.000000   2.000000   1.000000
25%     4.50000   7.500000  10.250000   3.250000
50%     9.00000  13.000000  11.500000   8.000000
75%    12.00000  17.750000  12.000000  15.750000
max    17.00000  20.000000  18.000000  23.000000

In [46]:
summ=df.describe(include='all')

In [47]:
type(summ)

pandas.core.frame.DataFrame

In [48]:
summ.to_csv("D:\summary_gtu.csv")

In [ ]:
df.dtypes

In [49]:
df.isnull()

       1      2      3      4
A  False  False  False  False
B  False  False  False  False
C  False  False  False  False
D  False  False  False  False
E  False  False  False  False
F  False  False  False  False

In [50]:
df.isnull().sum()

1    0
2    0
3    0
4    0
dtype: int64

In [ ]:
df.isnull().sum().sum()

In [51]:
df.isnull().any()

1    False
2    False
3    False
4    False
dtype: bool

In [52]:
df.isnull().all()

1    False
2    False
3    False
4    False
dtype: bool

In [ ]:
df[df.columns[0:2]]

In [ ]:
da=df.columns[df.isnull().any()]
df[da].isnull().sum()

In [ ]:
import pandas as pd
studentData = {
    'name' : ['jack', 'Riti', 'Aadi','Bhavna'],
    'age' : ["?", 30, "?",32],
    'salary':[10000,150298,75000,200000],
    'city' : ['Sydney',"Delhi", 'New york','Maryland']

}
rowlabel=['A','B','C','D']

In [ ]:
df1=pd.DataFrame(studentData,index=rowlabel)
df1

In [ ]:
df1.isnull().sum()

In [ ]:
df1.dtypes

In [ ]:
df1.index

In [ ]:
df1.columns

In [ ]:
df1.values

In [ ]:
df1['age']=='?'

In [ ]:
df1['age'].unique()

In [ ]:
len(df1.loc[df1['age']=='?'])

In [ ]:
df1.loc[df1['age']=='?']

In [ ]:
df2=df1.loc[df1['age']!='?']
df2

In [ ]:
df1['age'].replace("?",np.NaN,inplace=True)

In [ ]:
df1.replace(np.NaN,df1['age'].mean())

In [ ]:
df1['age'].replace("?",df2['age'].mean())

In [ ]:
df1

In [ ]:
df1.isnull().sum()

# Missing Data

In [25]:
# import the pandas library
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randn(5, 3), index=['a', 'c', 'e', 'f',
'h'])
print (df)

          0         1         2
a -0.375962 -0.465407  0.949011
c  0.083569 -0.609003  0.094811
e  0.231051 -0.302740 -2.466884
f -1.738347  0.270655 -0.657390
h -0.828478 -0.885306 -0.658869

In [26]:
df.columns=['one', 'two', 'three']
df

        one       two     three
a -0.375962 -0.465407  0.949011
c  0.083569 -0.609003  0.094811
e  0.231051 -0.302740 -2.466884
f -1.738347  0.270655 -0.657390
h -0.828478 -0.885306 -0.658869

In [1]:
df = df.reindex(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'])
df

NameError: name 'df' is not defined

In [5]:
print(df.head())

        one       two     three
a  0.986007 -0.913925 -1.612480
b       NaN       NaN       NaN
c  0.772534  0.211987 -1.385021
d       NaN       NaN       NaN
e  2.049933 -0.036159 -0.056984

In [6]:
df.dtypes

one      float64
two      float64
three    float64
dtype: object

In [7]:
df.isnull()

     one    two  three
a  False  False  False
b   True   True   True
c  False  False  False
d   True   True   True
e  False  False  False
f  False  False  False
g   True   True   True
h  False  False  False

In [8]:
df.isnull().sum()

one      3
two      3
three    3
dtype: int64

In [23]:
df.isnull().any()

False

In [24]:
df[df.columns[df.isnull().any()]]

AttributeError: 'Series' object has no attribute 'columns'

In [18]:
da=df.columns[df.isnull().any()]
da

AttributeError: 'Series' object has no attribute 'columns'

In [19]:
df['one'].fillna(df['one'].mean())

KeyError: 'one'

In [15]:
df

a    0.986007
b    0.107433
c    0.772534
d    0.107433
e    2.049933
f   -0.841645
g    0.107433
h   -2.429662
Name: one, dtype: float64

In [ ]:
df['two'].fillna(method='bfill',inplace=True)

In [ ]:
df

In [ ]:
df['one'].unique()

In [ ]:
df.fillna(df['two'].mean())

# Subset

In [ ]:
df2=df1[['age','name']]
df2

In [ ]:
df1.sum()

In [ ]:
df1.cumsum()

In [ ]:
import matplotlib.pyplot as plt
plt.plot([1,2,3,4,5],[1,2,3,4,6])

In [ ]:
df2=df1.cumsum()
df2.plot()

In [ ]:
import numpy as np
import math
# We now obtain the ndarray object of angles between 0 and 2 using the arange() function from the NumPy library.

x = np.arange(0, math.pi*2, 0.05)

# The ndarray object serves as values on x axis of the graph. The corresponding sine values of angles in x to be displayed on y axis are obtained by the following statement 

y = np.sin(x)

#The values from two arrays are plotted using the plot() function.

plt.plot(x,y)

# You can set the plot title, and labels for x and y axes.

In [ ]:
# You can set the plot title, and labels for x and y axes.
plt.xlabel("angle")
plt.ylabel("sine")
plt.title('sine wave')


plt.show()

In [ ]:

from matplotlib import pyplot as plt
import numpy as np
import math #needed for definition of pi
x = np.arange(0, math.pi*2, 0.05)
y = np.sin(x)
plt.plot(x,y)
plt.xlabel("angle")
plt.ylabel("sine")
plt.title('sine wave')
plt.show()

In [ ]:
from numpy import *
from pylab import *
x = linspace(-3, 3, 30)
y = x**2
plot(x, y)
show()

In [ ]:
from pylab import *
x = linspace(-3, 3, 30)
y = x**2
plot(x, y, 'r^')
show()