# importing the libraries

In [1]:
import numpy as np
import pandas as pd

In [2]:
from numpy import loadtxt
from tensorflow import keras

from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.optimizers import Adam
import pandas as pd

# loading the data

In [3]:
dftink= pd.read_csv("titanic.csv")

In [4]:
dftink.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [5]:
dftink.shape

(891, 12)

In [6]:
dftink.index

RangeIndex(start=0, stop=891, step=1)

In [7]:
dftink.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [8]:
dftink.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [9]:
dftink.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [10]:
dftink.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

# null counting

In [11]:
dftink.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [12]:
#find the % of null value in age column average

In [13]:
dftink["Age"]

0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
       ...
886    27.0
887    19.0
888     NaN
889    26.0
890    32.0
Name: Age, Length: 891, dtype: float64

In [14]:
dftink["Age"].isna()

0      False
1      False
2      False
3      False
4      False
       ...
886    False
887    False
888     True
889    False
890    False
Name: Age, Length: 891, dtype: bool

In [15]:
dftink['Age'].isna().sum()                                 #177 null values in age

177

In [16]:
(dftink['Age'].isna().sum()/len(dftink["Age"]))*100                 # only 19% is null present

19.865319865319865

In [17]:
# null value average for cabin column

In [18]:
(dftink['Cabin'].isna().sum()/len(dftink["Cabin"]))*100              #77% null value remain in data

77.10437710437711

# data cleaning

In [19]:
# filling age null value by its mean values

In [20]:
dftink["Age"].mean()

29.69911764705882

In [21]:
dftink["Age"].fillna( dftink["Age"].mean(), inplace=True )

In [22]:
# now no null value in Age
dftink['Age'].isna().sum()

0

In [23]:
# drop the cabin column have more number of null value
dftink.drop("Cabin", axis=1, inplace=True)

In [24]:
dftink.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,S

# check for non numeric column

In [25]:
dftink.info()                                     # from this name,sex, ticket is no numeric

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          891 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(4)
memory usage: 76.7+ KB

In [26]:
# or also use
dftink.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Embarked        object
dtype: object

In [27]:
# hence name , sex , ticket, embarked are no numeric. from this ticket, embarked not needed so we drop this column 

dftink.drop(["Ticket","Embarked"], axis=1, inplace=True)

In [28]:
# for sex we use dummy male, female == 0,1

In [29]:
pd.get_dummies(dftink['Sex'])       # here we get two dummy column for female (f=1, m=0), for male (m=1, f=0) we can choose any one for use
                                     # if we choose female column f=1, m=0
                                        #if male m=1,f=0

     female  male
0         0     1
1         1     0
2         1     0
3         1     0
4         0     1
..      ...   ...
886       0     1
887       1     0
888       1     0
889       0     1
890       0     1

[891 rows x 2 columns]

In [30]:
gender=pd.get_dummies(dftink['Sex'], drop_first= True)    # will drop first column  # m=1,f=0
gender                                                    # new colum create we will add this in place of sex

     male
0       1
1       0
2       0
3       0
4       1
..    ...
886     1
887     0
888     0
889     1
890     1

[891 rows x 1 columns]

In [31]:
# adding gender column 
dftink["Gender"]= gender

In [32]:
dftink.head()        #'Gender' added

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Fare,Gender
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,7.2500,1
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,71.2833,0
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,7.9250,0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,53.1000,0
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,8.0500,1

In [33]:
# drop all column wich not require
# hence name , sex , ticket, embarked are no numeric. from this ticket, embarked not needed so we drop this column 

dftink.drop(["Ticket","Embarked","Sex","Name"], axis=1, inplace=True)

KeyError: "['Ticket', 'Embarked'] not found in axis"

In [34]:
dftink.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Fare,Gender
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,7.2500,1
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,71.2833,0
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,7.9250,0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,53.1000,0
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,8.0500,1

# separate Depended and independed variable

In [35]:
X=dftink[["PassengerId","Pclass","Age","SibSp","Parch","Fare","Gender"]]
Y=dftink["Survived"]

In [36]:
X

     PassengerId  Pclass        Age  SibSp  Parch     Fare  Gender
0              1       3  22.000000      1      0   7.2500       1
1              2       1  38.000000      1      0  71.2833       0
2              3       3  26.000000      0      0   7.9250       0
3              4       1  35.000000      1      0  53.1000       0
4              5       3  35.000000      0      0   8.0500       1
..           ...     ...        ...    ...    ...      ...     ...
886          887       2  27.000000      0      0  13.0000       1
887          888       1  19.000000      0      0  30.0000       0
888          889       3  29.699118      1      2  23.4500       0
889          890       1  26.000000      0      0  30.0000       1
890          891       3  32.000000      0      0   7.7500       1

[891 rows x 7 columns]

In [37]:
Y

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64

In [38]:
# split into input (X) and output (y) variables
#X = dftink[:,0:8]
#Y = dftink[:,8]

In [44]:
# define the keras model
model = Sequential()
model.add(Dense(8, input_dim=7, activation='relu'))
model.add(Dense(8, activation='relu'))
model.add(Dense(1, activation='sigmoid'))

In [45]:
# compile the keras model
opt= Adam(learning_rate=0.1)
model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [46]:
# fit the keras model on the dataset
model.fit(X, Y, epochs=60, batch_size=5)

Epoch 1/60
179/179 [==============================] - 1s 2ms/step - loss: 5.1206 - accuracy: 0.5275
Epoch 2/60
179/179 [==============================] - 0s 2ms/step - loss: 0.9396 - accuracy: 0.5488
Epoch 3/60
179/179 [==============================] - 0s 2ms/step - loss: 0.7043 - accuracy: 0.6274
Epoch 4/60
179/179 [==============================] - 0s 2ms/step - loss: 0.6995 - accuracy: 0.6375
Epoch 5/60
179/179 [==============================] - 0s 2ms/step - loss: 0.6837 - accuracy: 0.6521
Epoch 6/60
179/179 [==============================] - 0s 2ms/step - loss: 0.6573 - accuracy: 0.6723
Epoch 7/60
179/179 [==============================] - 0s 2ms/step - loss: 0.6399 - accuracy: 0.6655
Epoch 8/60
179/179 [==============================] - 0s 2ms/step - loss: 0.6481 - accuracy: 0.6532
Epoch 9/60
179/179 [==============================] - 0s 2ms/step - loss: 0.6215 - accuracy: 0.6925
Epoch 10/60
179/179 [==============================] - 0s 2ms/step - loss: 0.6599 - accuracy: 0.6532
Epoch 11/60
179/179 [==============================] - 0s 2ms/step - loss: 0.6308 - accuracy: 0.6734
Epoch 12/60
179/179 [==============================] - 0s 2ms/step - loss: 0.5991 - accuracy: 0.7048
Epoch 13/60
179/179 [==============================] - 0s 2ms/step - loss: 0.5790 - accuracy: 0.7071
Epoch 14/60
179/179 [==============================] - 1s 3ms/step - loss: 0.5886 - accuracy: 0.7037
Epoch 15/60
179/179 [==============================] - 0s 2ms/step - loss: 0.6061 - accuracy: 0.6970
Epoch 16/60
179/179 [==============================] - 1s 3ms/step - loss: 0.5573 - accuracy: 0.7160
Epoch 17/60
179/179 [==============================] - 0s 3ms/step - loss: 0.5500 - accuracy: 0.7318
Epoch 18/60
179/179 [==============================] - 0s 2ms/step - loss: 0.6245 - accuracy: 0.6857
Epoch 19/60
179/179 [==============================] - 0s 3ms/step - loss: 0.5414 - accuracy: 0.7306
Epoch 20/60
179/179 [==============================] - 0s 2ms/step - loss: 0.5847 - accuracy: 0.7059
Epoch 21/60
179/179 [==============================] - 0s 2ms/step - loss: 0.5731 - accuracy: 0.7082
Epoch 22/60
179/179 [==============================] - 0s 2ms/step - loss: 0.5517 - accuracy: 0.7172
Epoch 23/60
179/179 [==============================] - 0s 2ms/step - loss: 0.5425 - accuracy: 0.7340
Epoch 24/60
179/179 [==============================] - 0s 2ms/step - loss: 0.5641 - accuracy: 0.7037
Epoch 25/60
179/179 [==============================] - 0s 2ms/step - loss: 0.5517 - accuracy: 0.7329
Epoch 26/60
179/179 [==============================] - 0s 2ms/step - loss: 0.5464 - accuracy: 0.7183
Epoch 27/60
179/179 [==============================] - 0s 2ms/step - loss: 0.5284 - accuracy: 0.7385
Epoch 28/60
179/179 [==============================] - 0s 2ms/step - loss: 0.5326 - accuracy: 0.7363
Epoch 29/60
179/179 [==============================] - 0s 2ms/step - loss: 0.5335 - accuracy: 0.7464
Epoch 30/60
179/179 [==============================] - 0s 2ms/step - loss: 0.5526 - accuracy: 0.7250
Epoch 31/60
179/179 [==============================] - 0s 2ms/step - loss: 0.5261 - accuracy: 0.7542
Epoch 32/60
179/179 [==============================] - 0s 2ms/step - loss: 0.5251 - accuracy: 0.7643
Epoch 33/60
179/179 [==============================] - 0s 2ms/step - loss: 0.5333 - accuracy: 0.7475
Epoch 34/60
179/179 [==============================] - 0s 2ms/step - loss: 0.5232 - accuracy: 0.7396
Epoch 35/60
179/179 [==============================] - 0s 2ms/step - loss: 0.5217 - accuracy: 0.7542
Epoch 36/60
179/179 [==============================] - 0s 2ms/step - loss: 0.5128 - accuracy: 0.7520
Epoch 37/60
179/179 [==============================] - 0s 2ms/step - loss: 0.5204 - accuracy: 0.7565
Epoch 38/60
179/179 [==============================] - 0s 2ms/step - loss: 0.5406 - accuracy: 0.7374
Epoch 39/60
179/179 [==============================] - 0s 2ms/step - loss: 0.5066 - accuracy: 0.7643
Epoch 40/60
179/179 [==============================] - 0s 2ms/step - loss: 0.4998 - accuracy: 0.7710
Epoch 41/60
179/179 [==============================] - 0s 2ms/step - loss: 0.5151 - accuracy: 0.7632
Epoch 42/60
179/179 [==============================] - 0s 2ms/step - loss: 0.5591 - accuracy: 0.7441
Epoch 43/60
179/179 [==============================] - 0s 2ms/step - loss: 0.5120 - accuracy: 0.7632
Epoch 44/60
179/179 [==============================] - 0s 2ms/step - loss: 0.5036 - accuracy: 0.7632
Epoch 45/60
179/179 [==============================] - 0s 2ms/step - loss: 0.4886 - accuracy: 0.7744
Epoch 46/60
179/179 [==============================] - 0s 2ms/step - loss: 0.5023 - accuracy: 0.7587
Epoch 47/60
179/179 [==============================] - 0s 2ms/step - loss: 0.4997 - accuracy: 0.7755
Epoch 48/60
179/179 [==============================] - 0s 2ms/step - loss: 0.5083 - accuracy: 0.7710
Epoch 49/60
179/179 [==============================] - 0s 2ms/step - loss: 0.4879 - accuracy: 0.7598
Epoch 50/60
179/179 [==============================] - 0s 2ms/step - loss: 0.5007 - accuracy: 0.7767
Epoch 51/60
179/179 [==============================] - 0s 2ms/step - loss: 0.5004 - accuracy: 0.7677
Epoch 52/60
179/179 [==============================] - 0s 2ms/step - loss: 0.4882 - accuracy: 0.7789
Epoch 53/60
179/179 [==============================] - 0s 2ms/step - loss: 0.4812 - accuracy: 0.7755
Epoch 54/60
179/179 [==============================] - 0s 2ms/step - loss: 0.4843 - accuracy: 0.7811
Epoch 55/60
179/179 [==============================] - 0s 2ms/step - loss: 0.4864 - accuracy: 0.7755
Epoch 56/60
179/179 [==============================] - 0s 2ms/step - loss: 0.4864 - accuracy: 0.7823
Epoch 57/60
179/179 [==============================] - 0s 2ms/step - loss: 0.4775 - accuracy: 0.7767
Epoch 58/60
179/179 [==============================] - 0s 2ms/step - loss: 0.4843 - accuracy: 0.7834
Epoch 59/60
179/179 [==============================] - 0s 2ms/step - loss: 0.5003 - accuracy: 0.7666
Epoch 60/60
179/179 [==============================] - 0s 2ms/step - loss: 0.4791 - accuracy: 0.7879

In [47]:
# evaluate the keras model
_, accuracy = model.evaluate(X, Y)
print('Accuracy: %.2f' % (accuracy*100))

28/28 [==============================] - 0s 2ms/step - loss: 0.4488 - accuracy: 0.8047
Accuracy: 80.47